{% extends "soulcoffeeApp/index.html" %}

{% load static %}

{% block content %}

    {% for post  in posts %}  
     <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{post.titulo}}</h5>
                    <p class="card-text">{{post.contenido}}</p>
                    <p class="card-text"><small class="text-muted">autor={{post.uator}}</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
       
      </div>    
    {% endfor %}

    

      categorias:

      {% for post  in posts %}

          {% for categoria  in post.categorias.all %}

              {{categoria.nombre}}

          {% endfor %}

      {% endfor %}
    </div>
    

{% endblock %}
       