{% extends "soulcoffeeApp/index.html" %}

{% load static %}

{% block content %}

<main class="cointainer">
  <section class="contenedor ">
    <div class="contenedor-cero ">
        <h2>Magna faucibus lorem diam</h2>
        <p1>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
    </div>
  </section>   
</main>

    

<!--"{% static 'soulcoffeeApp/img/'%} Encabezado -->
<main >
  <section class="contenedor sobre-nosotros">
    <div class="contenedor-sobre-nosotros"> 
      <img src="" alt="" class="imagen-about-us" >
      <div class="contenido-textos">
        <h3>Los mejores productos</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem cupiditate sapiente distinctio iusto numquam error eum reprehenderit accusantium, veritatis laudantium incidunt quas, modi delectus dolorem? Dolorum esse optio autem at.</p>
        <h3>Los mejores productos</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem cupiditate sapiente distinctio iusto numquam error eum reprehenderit accusantium, veritatis laudantium incidunt quas, modi delectus dolorem? Dolorum esse optio autem at.</p>
      </div>
      
   </div>
  </section>
</main>

      <main >
        <section class="contenedor sobre-nosotros">
          <div class="contenedor-sobre-nosotros"> 
            <div class="contenido-textos">
              <h3>Los mejores productos</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem cupiditate sapiente distinctio iusto numquam error eum reprehenderit accusantium, veritatis laudantium incidunt quas, modi delectus dolorem? Dolorum esse optio autem at.</p>
              <h3>Los mejores productos</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem cupiditate sapiente distinctio iusto numquam error eum reprehenderit accusantium, veritatis laudantium incidunt quas, modi delectus dolorem? Dolorum esse optio autem at.</p>
            </div>
            <img src="" alt="" class="imagen-about-us" >
         </div>
 
        </section>
      </main>
  
    

          {% endblock %}
        