{% extends "soulcoffeeApp/index.html" %}

{% load static %}

{% block content %} 
<div class="container" >

  <div class="row">

  {% for servicio  in servicios %}

  
      <div class="col-md-6">
        
          <div class="card" style="width: 18rem; display:flex;" >
            <img class="card-img-top" src="{{servicio.imagen.url}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{servicio.titulo}}</h5>
              <p class="card-text">{{servicio.contenido}}</p>
            </div>
          </div>
      </div>
  

  {% endfor%}
   </div> 
</div>

{% endblock %}